<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial">
  <title>glass website</title>
</head>

<body>
  <main>
    <section class="glass">
      <div class="dashboard">
        <div class="user">
          <img src="./assets/pra.jpg" width="50px" height="60px"  style="margin-top: 5px;" alt="">
          <h3>Captain</h3> 
          <p>Pro member</p>
        </div>

        <div class="links">
          <div class="link">
            <img src="./assets/game.png" width="40px" height="15px" alt="">
            <h2>Games</h2>
            <div class="link">
              <img src="./assets/s.png" width="40px" height="15px" alt="">
              <h2>Score</h2>
            </div>
            <div class="link">
              <img src="./assets/vistory.png" width="40px" height="15px" alt="">
              <h2>Victory</h2>
            </div>
            <div class="link">
              <img src="./assets/library.png" width="40px" height="15px" alt="">
              <h2>library</h2>
            </div>
          </div>

          <div class="pro">
            <h2>Join pro for free games</h2>
            <img src="./images" alt="" />
          </div>

        </div>

       

      </div>

      <div class="games">
        <div class="status">
          <h1>Active Games</h1>
          <input  style="margin-left: 20px; background-color:aquamarine;"/>
          <button type="button">Search</button> 
        </div>
        <div class="cards">

          <div class="card">
            <img src="./assets/call.jpeg" width="80px" height="80px" alt="">
            <div class="card-info">
              <h2>Call of Duty</h2>
              <p>Extrem Player</p>
              <div class="progress"></div>
            </div>
            <h2 class="percentage">60%</h2>
          </div>

          <div class="card">
            <img src="./assets/B.jpeg" width="80px" height="80px"alt="">
            <div class="card-info">
              <h2>Bioshock</h2>
              <p>Extrem Player</p>
              <div class="progress"></div>
            </div>
            <h2 class="percentage">60%</h2>
          </div>

          <div class="card">
            <img src="./assets/pubg.jpeg" width="80px" height="80px"  alt="">
            <div class="card-info">
              <h2>PUBG</h2>
              <p>Extrem Player</p>
              <div class="progress"></div>
            </div>
            <h2 class="percentage">60%</h2>
          </div>

          
        </div>
      </div>
    </section>
    
  </main>


  <div class="circle1"></div>
  <div class="circle2"></div>
</body>

</html>